body {
    height: 100%;
    margin-left: 8px;
}

.autorunText {
    color: blue;
}

.slickContainer {
    margin: 0 auto;
    padding: 30px;
    color: #333;
    background: #419be0;
    width: 75%
}

.slickItem {
    margin: 0 auto;
}
